::selection{
    background-color:black;
    color:white;
}

@font-face{
    font-family:"Harber";
    src:url("harber.ttf") format("openType");
}

body{
    margin:0px;
}

p{
    font-family:Harber;
    /* font-weight:1; */
    /* text-align:justify */
}

h1{
    font-family:Harber;
    font-weight:5;
    font-size:15px;
}

b{
    /* font-weight:5; */
}

.header-container{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:black;
    color:white;
}

.header-wrapper{
    margin:10px;
    display:flex;
    flex-direction:column;
    line-height:10px;
}

.sizing{
    display:flexbox;
    /* justify-content:space-between; */
    font-weight:1;
}

.sizing p{
    font-size:10px;
}

@media screen and (max-width: 1250px) {
    .columns{
        column-count:1;
    }
}

@media screen and (min-width: 1250px) {
    .columns{
        column-count:2;
    }
}

@media screen and (min-width: 1350px) {
    .columns{
        column-count:3;
    }
}

@media screen and (min-width: 1450px) {
    .columns{
        column-count:4;
    }
}

.columns{
    margin:5px;
    column-count:0;
    column-gap:10px;
}